@model IEnumerable<UniDesc.Web.Models.Ticket>

    <h2>Lista Zgłoszeń</h2>

    <p>
        <a asp-action="Create">Dodaj nowe zgłoszenie</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Status</th>
                <th>Data Utworzenia</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Description</td>
                <td>@ticket.Status</td>
                <td>@ticket.CreatedDate</td>
            </tr>
        }
        </tbody>

    </table>
